.c-input {
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  outline: none;
  border: 3px solid #aaa;
  color: #222;
  font-size: 1.8rem;
  transition: .1s border-color ease-in-out;
}

  .c-input:hover,
  .c-input:focus {
    border-color: #4ec6ad;
  }

  .c-input.is-invalid {
    border-color: #cc3434;
    background-color: #ffecec;
  }
