.header {
  position: relative;
  width:  100%;
  height: 50px;
  background-color: #f2f2f2;
}

.header__profile {}

.header__anchor {
  color: #000;
}

.header__logo {
  line-height: 50px;
}

.header__avatar {
  /*margin: 0 auto 10px;*/
}
