.loading__container {
  position: absolute;
  top:  50%;
  left: 50%;
  width:  50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  width:  inherit;
  height: inherit;
  border-radius: 100%;
  border: 2px solid rgba(145, 144, 164, .2);
  border-top-color: rgba(145, 144, 164, 1);
  box-sizing: border-box;
  animation: loading 1.2s linear infinite;
  -webkit-animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@-webkit-keyframes loading {
  0%   { -webkit-transform: rotate(0deg) }
  50% { -webkit-transform: rotate(360deg) }
}
