.u-text-align-center {
  text-align: center;
}

.u-text-align-right {
  text-align: right;
}

.u-text-decoration-none {
  text-decoration: none;
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}
