@import "~normalize.css/normalize.css";
@import "~skeleton-css/css/skeleton.css";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

@import "./typography.css";

@import "./components/buttons.css";
@import "./components/fields.css";
@import "./components/alerts.css";

@import "./objects/form.css";
@import "./objects/table.css";
@import "./objects/avatar.css";
@import "./objects/icon.css";

@import "./utilities/align.css";
@import "./utilities/float.css";
@import "./utilities/text.css";
@import "./utilities/display.css";
@import "./utilities/position.css";

html {
  font-size: 62.5%;
}

body {
  background-color: #fbfbfb;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, serif;
  margin: 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

html, body, #app, .layout {
  height: 100%;
  min-height: 100%;
}

.a-prevent-default {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.wrapper {
  padding: 30px;
}

.page {
  height: 100%;
}
